/* Base styles */

@import url('https://fonts.googleapis.com/css?family=Gotham:300,400,500&display=swap');

body {
    font-family: 'Gotham', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    background-color: #f0f0f0;
}

.container {
    max-width: 40%;
    margin: 0 auto;
    padding: 20px auto;
}

h1 {
    font-size: 36px;
    font-weight: 500;
    color: #0077c5;
    margin-top: 0;
}

form {
    margin-top: 20px;
}

.form-control {
    font-size: 18px;
    font-weight: 300;
    color: #333333;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid #0077c5;
    background-color: #ffffff;
}

.form-control:focus {
    border: 2px solid #0077c5;
    outline: none;
}

.no-synonyms {
    font-style: italic;
    font-weight: 500;
    margin-top: 20px;
    color: #ff0000;
}

.nav-link {
    display: inline-block;
    text-decoration: none;
    color: #333;
    margin-left: 10px;
    font-size: 18px;
    line-height: 1.5;
}


@media (max-width: 575px) {
    h1 {
        font-size: 30px;
    }

    .form-control {
        font-size: 16px;
    }
}

@media (min-width: 300px) and (max-width: 500px) {
    h1 {
        font-size: 42px;
    }

    .form-control {
        font-size: 20px;
    }
}